@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 
@import './var.scss';

body {
    margin: 0; 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Poppins'
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #b6a7d9;
    //background: linear-gradient(90deg,#d9a7d9,#a7a7d9,#a7c1d9,#a7a7d9,#d9a7d9);
    background-size: 100vw;
    // animation: background-tv 30s infinite ;
    color: white;
  }

  @keyframes background-tv {
    0% {
      background-position: 0% 50% 
    }

    50% {
      background-position: 100% 0% 
    }

    100% {
      background-position:  0% 50%
    }
}
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  }

.btn {
  border: none;
  background-color: white;
  color: black;
  cursor: pointer;
  }

#__next{
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  font-family: 'Poppins', sans-serif ;
  font-size: $font-avg;
  align-items: center;
}

a{
  cursor: pointer;
  color:rgb(255, 255, 255)
  }

a:-webkit-any-link{
    cursor: pointer;
    text-decoration: none;
}

h1 {
  font-size: 30px;
  color: rgb(255, 255, 255);
}


.background {
  width: 100vw;
  height: 700px;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $font-large;
  padding-top: 30px;

}

.header_nav{
  display: flex;
  gap: 50px;
  color: rgba(255, 255, 255, 0.178);
  list-style-type: none;
}

.header_nav_activ{
  color:rgb(255, 255, 255)
}

.header_nav_item{
  color:rgba(255, 255, 255, 0.404)
}

.main{
  margin-top: 200px;
}

.card_list{
  display: grid;
  grid-template-columns: repeat(4, $width-card);
  justify-content: space-between;
  list-style-type: none;
  padding-left: 0px;
  gap: 50px 20px;
}

.card-body{
  height: 260px;
  position: relative;
  width: auto;
  border-radius: 30px;
  background-color: rgba(240, 240, 240, 0.17);
  backdrop-filter: blur(50px);
  box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.13);
  display: flex;
  flex-direction:column;
  align-items: center;  
  justify-content: space-between;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  &.demo{
    margin: 50px auto;
    width: 220px;

  }
}

.card_like{
  width: 40px;
  height: 40px;
  position:absolute;
  right:10px;
  top:10px;
  opacity: .8;
  cursor: pointer;
  background: url('../public/heart.png')no-repeat;
  &:hover{
    opacity: 1;
    top:10px;
  }
  &_active{
    width: 40px;
    height: 40px;
    position:absolute;
    right:10px;
    top:10px;
    cursor: pointer;
    background: url('../public/heartend.png');
    animation: tw-heart 0.4s steps(13);
  }
}  

@keyframes tw-heart {
  0% {
    position:absolute;
    width: 100px;
    height: 100px;
    right:-20px;
    top:-20px;
    background: url('../public/heartanim.png');
    background-position: 0 0;
    
  }
  100% {
    position:absolute;
    width: 100px;
    height: 100px;
    right:-20px;
    top:-20px;
    background: url('../public/heartanim.png');
    background-position: -1300px 0;
  }
}

.card-title{
  width: 190px;
  height: 280px;
  display: flex;
  align-items: center;
}

.card-title-create{
  width: 100%;
  text-align: center;
  font-size: 60px;
  font-style:initial;
}

.card-title-name{
  width: 100%;
  text-align: center;
  word-wrap: break-word;
}

.card_button{
  width: calc($width-card) ;
  display: flex;
  justify-content: space-between;
  align-content: flex-end;
  vertical-align:middle;
}

.card_button_item{
  align-content: flex-end;
  height: 40px;
  width: calc(($width-card / 2));
  font-size: 16px;
  font-family: cursive;
  color: rgba(0, 0, 0, 0.651);
  background-color: rgba(255, 255, 255, 0.39);
  border-bottom: none;
  align-items: center;
  padding: 0;
  &.like{
    border-left: none;
    border-bottom-left-radius: 30px;
    padding-left: 4px;
    transition: 0.25s;
    &:hover{
      background-color: rgba(255, 255, 255, 0.795);
      color:rgb(224, 48, 186)
    }
  }
  &.delete{
    border-right: none;
    border-bottom-right-radius: 30px;
    padding-right: 4px;
    transition: 0.25s;
    &:hover{
      background-color: rgba(255, 255, 255, 0.795);
      color:rgb(224, 48, 186);
    }
  } 
}

//CANVAS
.offCanvas{
  &_background{
    display: none;
    &_active{
      width: 100vw;
      height: 100vh;
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      background-color: #00000056;
      z-index: 1000;
    }
  }
  &_modal{
  width: 400px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.801);
  }
  &_wrapper{
    margin: 30px 40px 0px 40px;
    width: auto;
    position: static;
    display: flex;
    flex-direction: column;
    h1{
      font-size: 20px;
    }
  }
  &_inputText{
    width: auto;
    height: 30px;
    margin-bottom: 40px;
  }
  &_submit{
    margin: 0 auto;
    width: 100px;
    height: 30px;
    border-radius: 5px;
  }
}

// @media (prefers-color-scheme: dark) {
//   html {
//     color-scheme: dark;
//   }
//   body {
//     color: white;
//   }
// }